*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
  overflow-x: hidden;
}
#__nuxt{
  height: 100%;
}
#__layout{
  height: 100%;
}

.absolute-center-h-v{
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.absolute-center-v{
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.svg-inline--fa{
  display: inline-block;
}
.svg-inline--fa.fa-w-10{
  width: auto;
}

.btn-small{
  @apply px-3 text-sm font-semibold text-center rounded-sm border border-solid;
  transition: all 0.3s;
  height: 30px;
}
.btn-small svg{
  vertical-align: text-bottom;
  display: inline-block;
}
.btn-small--white{
  @apply text-gray-600 border-gray-500 bg-white;
}
.btn-small--white:hover{
  @apply shadow-md;
}
